WG_HOST=zzdroide.cl
WEBPASSWORD=YOUR_PASSWORD
# Generate a hash using:  docker compose run --rm wg-easy wgpw YOUR_PASSWORD
PASSWORD_HASH='$2b$12$coPqCsPtcFO.Ab99xylBNOW4.Iu7OOA2/ZIboHN6/oyxca3MWo7fW'
